---
extends: airbnb
parser: babel-eslint

env:
  es6: true
  node: true
  mocha: true

globals:
  window: false
  document: false

rules:
  arrow-body-style: [1]
  react/prefer-stateless-function: [1]
  react/prop-types: [0]
  prefer-stateless-function: [0]
  react/jsx-no-bind: [0]
  no-warning-comments: [1]
  react/jsx-filename-extension: [0]
